[user]
	email = soaresphaell@gmail.com
	name = Raphael-Soares
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = nvim
[merge]
    tool = nvimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "nvimdiff"]
    layout = "LOCAL,BASE,REMOTE / MERGED"
