for_window    [app_id="(?i)Firefox"] title_format "Firefox"
for_window    [class="Google-chrome"] title_format "Chrome"
for_window    [app_id="Alacritty"] title_format "Alacritty"
for_window    [class="teams-for-linux"] title_format "Teams"
for_window    [class="Spotify"] title_format "Spotify"

# Make windows look like popups
for_window [app_id="pavucontrol"] floating enable, sticky enable, resize set width 700 px height 600px, move position cursor, move down 35

for_window [app_id="org.gnome.Calendar"]  floating enable, sticky enable, resize set 1050 250, move position cursor, move down 35
# for_window [class="Blueman-manager"]  floating enable, sticky enable, resize set 600 300, move position cursor, move down 35

# Assing windows to wrkspaces

assign [class="teams-for-linux"] 1
assign [class="Spotify"] 1

assign [app_id="firefox"] 2
assign [class="Google-chrome"] 2




