window#audio .audiomenu {
    @include floating-widget;
    @include spacing;

    .app-mixer {
        margin: 0;
    }

    padding: $popover-padding * 1.4;

    .sliders-box,
    .mixer-item {
        @include widget;
        padding: $padding;

        margin-bottom: 0;

        button {
            @include button($flat: true);
            padding: $padding * 0.5;
        }

        .volume button.arrow:last-child {
            margin-left: $spacing * 0.4;
        }

        scale {
            @include slider;
            margin: 0 ($spacing * 0.5);

            &.muted highlight {
                background-image: none;
                background-color: transparentize($fg, $amount: 0.2);
            }
        }

        image {
            font-size: 1.2em;
            padding: $padding;
        }
    }

    .mixer-item {
        margin-top: $spacing;
    }
    .mixer-item > * {
        padding: $padding;
    }

    .row {
        @include spacing;
    }

    .menu {
        @include unset;
        @include widget;

        .title {
            font-weight: bold;
            font-size: 1em;
            margin-left: 0.1em;
            padding: $padding * 0.5;
        }

        .icon {
            font-weight: bold;
            font-size: 1em;
            margin-left: 0.1em;
            padding: $padding * 0.5;
        }

        button {
            @include button($flat: true);
            padding: ($padding * 0.5);

            image:first-child {
                margin-right: $spacing * 0.5;
            }
        }
    }

    .media {
        margin-top: $spacing / 2;
        @include spacing;

        .player {
            @include media;
        }
    }
}
