@use 'sass:color';

$bar-spacing: $spacing * 0.3;
$button-radius: $radius;

@mixin panel-button($flat: true, $reactive: true) {
    @include accs-button($flat, $reactive);

    border-radius: $button-radius;

    > *,
    * {
        padding: 0 $bar-spacing;
        padding-top: 1px;
    }

    label,
    image {
        font-weight: bold;
    }

    > * {
        padding: $padding * 0.4 $padding * 0.8;
    }
}

@mixin workspace-button($flat: true, $reactive: true) {
    @include accs-button($flat, $reactive);
    border-radius: $button-radius;

    > * {
        padding: $bar-spacing $bar-spacing + 6pt;
        padding-bottom: 2px;
    }
    label,
    image {
        font-weight: bold;
    }
}

.bar {
    transition: $transition;
    background-color: $primary-fg;

    .panel-button {
        @include panel-button;

        margin: $bar-spacing 0.1em;
    }

    .workspace-button {
        @include workspace-button;
        transition: $transition * 0.5;

        border-radius: $radius * 0.4;

        background-color: $primary-fg;
        margin: $bar-spacing;

        * {
            border-radius: $radius * 0.4;
        }
    }

    .audiomenu > box > box {
        @include spacing($spacing: if($bar-spacing==0, $padding / 2, $bar-spacing + $padding * 2));
    }

    .battery-bar {
        > * {
            padding: 0 $padding * 0.4;
        }

        &.low image {
            color: $error-bg;
        }

        &.charging image {
            color: $fg;
        }

        &:active image {
            color: $primary-fg;
        }
    }
}
