@mixin calendar {
    @include widget;
    padding: $padding * 2 $padding * 2 0;

    calendar {
        all: unset;

        &.button {
            @include button($flat: true);
        }

        &:selected {
            border-radius: $radius;
            background-color: $primary-bg;
        }

        &.header {
            background-color: transparent;
            border: none;
            color: transparentize($fg, 0.5);
        }

        &.highlight {
            background-color: transparent;
            color: transparentize($primary-bg, 0.5);
        }

        &:indeterminate {
            color: transparentize($fg, 0.9);
        }

        font-size: 1.1em;
        padding: 0.5em 1em;
    }
}

window#datemenu .datemenu {
    @include floating-widget;

    .calendar {
        @include calendar;
    }
}
