@mixin notification() {
    &.critical {
        box-shadow: inset 0 0 0.5em 0 $error-bg;
    }

    &:hover button.close-button {
        @include button-hover;
        background-color: transparentize($error-bg, 0.5);
    }

    .content {
        .title {
            margin-right: $spacing;
            color: $fg;
            font-size: 1.1em;
        }

        .time {
            color: transparentize($fg, 0.2);
        }

        .description {
            font-size: 0.9em;
            color: transparentize($fg, 0.2);
        }

        .icon {
            border-radius: $radius * 0.8;
            margin-right: $spacing;

            &.img {
                border: $border;
            }
        }
    }

    box.actions {
        @include spacing(0.5);
        margin-top: $spacing;

        button {
            @include button;
            border-radius: $radius * 0.8;
            font-size: 1.2em;
            padding: $padding * 0.7;
        }
    }

    button.close-button {
        @include button($flat: true);
        border-radius: $radius * 0.8;
        min-width: 1.2em;
        min-height: 1.2em;

        &:hover {
            background-color: transparentize($error-bg, 0.2);
        }

        &:active {
            background-image: none;
            background-color: $error-bg;
        }
    }
}

.notification-center {
    @include spacing;
    @include floating-widget;

    min-height: 300px;

    .notifications {
        .header {
            padding: $spacing;
            margin: $spacing 0;

            > label {
                margin-left: $radius * 0.5;
            }

            button {
                @include button;
                padding: $padding;
                margin-left: $spacing;
            }
        }

        .notification-scrollable {
            @include scrollable($top: true, $bottom: true);
        }

        .notification-list {
            margin-right: $spacing;
        }

        .notification {
            @include notification;
            @include widget;
            padding: $padding;
            margin-bottom: $spacing;
        }

        .placeholder {
            image {
                font-size: 7em;
            }

            label {
                font-size: 1.2em;
            }
        }
    }
}

window.notifications {
    @include unset;

    .notification {
        @include notification;
        @include floating-widget;
        border-radius: $radius;

        .description {
            min-width: 300px;
        }
    }
}
